<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
      {{ end }}</title>
    <meta name=viewport content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    {{ block "main" . }}
    {{ end }}
    {{ block "footer" . }}
    <footer>
      <p>Un jeu d'auto-profilage proposé par l'EREN.
	{{ if .IsHome }} Des propositions vous sont faites à titre indicatif. N'hésitez jamais à contacter une personne de l'EREN pour vous aider à trouver votre voie <a href="mailto:eren@eren.ch">eren@eren.ch</a>.{{ end }}
	{{ if not .IsHome }}  <a href="/">Retour au départ</a>{{ end }}
      </p>
    </footer>
    {{ end }}
  </body>
</html>
