<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
      {{ end }}</title>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/baffle.min.js"></script>
  </head>
  <body>
    <main>
    {{ block "main" . }}
    {{ end }}
    </main>
    {{ block "footer" . }}
    <footer>
      <p>Un outil d'auto-profilage proposé par l'EREN
	      {{ if .IsHome }}(Église réformée évangélique du canton de Neuchâtel){{ end }}.
  Des propositions vous sont faites à titre indicatif.
  N'hésitez jamais à contacter l'animatrice cantonale du bénévolat pour vous aider dans votre choix ou annoncer votre intérêt:
  Jacqueline Lavoyer-Bünzli, 079 704 74 45, <a href="mailto:jacqueline.lavoyer@eren.ch">jacqueline.lavoyer@eren.ch</a>.
      </p>
      {{ if not .IsHome }}<p class="start"><a href="/">Retour au départ</a></p>{{ end }}
    </footer>
    {{ end }}
    <script>
    baffle('h1').start().reveal(1500);
    </script>
  </body>
</html>
